Lynq/LYNQ-Ejemplos-IntegracionWS/examples/dotNET/GpsGate.Samples.WebServices/Web References/GeocoderService/Geocoder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gpsgate.com/services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gpsgate.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gpsgate.com/services/">
      <s:element name="ReverseGeocode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lats" type="tns:ArrayOfDecimal" />
            <s:element minOccurs="0" maxOccurs="1" name="lngs" type="tns:ArrayOfDecimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDecimal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="decimal" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReverseGeocodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReverseGeocodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReverseGeocodeSoapIn">
    <wsdl:part name="parameters" element="tns:ReverseGeocode" />
  </wsdl:message>
  <wsdl:message name="ReverseGeocodeSoapOut">
    <wsdl:part name="parameters" element="tns:ReverseGeocodeResponse" />
  </wsdl:message>
  <wsdl:portType name="GeocoderSoap">
    <wsdl:operation name="ReverseGeocode">
      <wsdl:input message="tns:ReverseGeocodeSoapIn" />
      <wsdl:output message="tns:ReverseGeocodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeocoderSoap" type="tns:GeocoderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReverseGeocode">
      <soap:operation soapAction="http://gpsgate.com/services/ReverseGeocode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeocoderSoap12" type="tns:GeocoderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReverseGeocode">
      <soap12:operation soapAction="http://gpsgate.com/services/ReverseGeocode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Geocoder">
    <wsdl:port name="GeocoderSoap" binding="tns:GeocoderSoap">
      <soap:address location="http://localhost/GpsGateServer/Services/Geocoder.asmx" />
    </wsdl:port>
    <wsdl:port name="GeocoderSoap12" binding="tns:GeocoderSoap12">
      <soap12:address location="http://localhost/GpsGateServer/Services/Geocoder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>