SGLibrary_COM/SGLibrary/Service References/ServiceFacturaElectronica/ServiceFacturaElectronica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFWSFEAFIPTezecoop" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFWSFEAFIPTezecoop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoSolicitarCAE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAEFchVto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocNro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoSolicitarCAE" nillable="true" type="tns:ResultadoSolicitarCAE" />
</xs:schema>