SGLibrary_COM/SGLibrary/Service References/ServiceFacturaElectronica/ServiceFacturaElectronica2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49857/ServiceFacturaElectronica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFWSFEAFIPTezecoop" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCAE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdSolicitud" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarCAEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFWSFEAFIPTezecoop" minOccurs="0" name="SolicitarCAEResult" nillable="true" type="q1:ResultadoSolicitarCAE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>