SGLibrary_COM/SGLibrary/Service References/ServiceFacturaElectronica/ServiceFacturaElectronica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFWSFEAFIPTezecoop" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFWSFEAFIPTezecoop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="comprobantes_ml">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAEFchVto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CbteDesde" type="xs:decimal" />
      <xs:element minOccurs="0" name="CbteFch" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CbteHasta" type="xs:decimal" />
      <xs:element minOccurs="0" name="CbteTipo" type="xs:int" />
      <xs:element minOccurs="0" name="Concepto" type="xs:int" />
      <xs:element minOccurs="0" name="DocNro" type="xs:decimal" />
      <xs:element minOccurs="0" name="DocTipo" type="xs:int" />
      <xs:element minOccurs="0" name="FchServDesde" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FchServHasta" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FchVtoPago" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImpIVA" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImpNeto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImpOpEx" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImpTotConc" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImpTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImpTrib" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonCotiz" type="xs:double" />
      <xs:element minOccurs="0" name="MonId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PtoVta" type="xs:int" />
      <xs:element minOccurs="0" name="cbtesasoc" nillable="true" type="tns:ArrayOfcbtesasoc" />
      <xs:element minOccurs="0" name="conceptos" nillable="true" type="tns:conceptos" />
      <xs:element minOccurs="0" name="detalle_iva" nillable="true" type="tns:ArrayOfdetalle_iva" />
      <xs:element minOccurs="0" name="detalle_tributos" nillable="true" type="tns:ArrayOfdetalle_tributos" />
      <xs:element minOccurs="0" name="estado_envio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="tns:moneda" />
      <xs:element minOccurs="0" name="moneda1" nillable="true" type="tns:moneda" />
      <xs:element minOccurs="0" name="nro_doc_afip" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="tipo_comprobante" nillable="true" type="tns:tipo_comprobante" />
      <xs:element minOccurs="0" name="tipo_documento" nillable="true" type="tns:tipo_documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comprobantes_ml" nillable="true" type="tns:comprobantes_ml" />
  <xs:complexType name="ArrayOfcbtesasoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cbtesasoc" nillable="true" type="tns:cbtesasoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcbtesasoc" nillable="true" type="tns:ArrayOfcbtesasoc" />
  <xs:complexType name="cbtesasoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nro" type="xs:decimal" />
      <xs:element minOccurs="0" name="PtoVta" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="comprobantes_ml" nillable="true" type="tns:comprobantes_ml" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_comprobante" nillable="true" type="tns:tipo_comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cbtesasoc" nillable="true" type="tns:cbtesasoc" />
  <xs:complexType name="tipo_comprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_magma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cbtesasoc" nillable="true" type="tns:ArrayOfcbtesasoc" />
      <xs:element minOccurs="0" name="cod_tipo_comprobante" type="xs:int" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
      <xs:element minOccurs="0" name="comprobantes_ml" nillable="true" type="tns:ArrayOfcomprobantes_ml" />
      <xs:element minOccurs="0" name="permitidoenfonseca" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="requiere_cmp_asociado" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tipo_comprobante" nillable="true" type="tns:tipo_comprobante" />
  <xs:complexType name="ArrayOfcomprobante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comprobante" nillable="true" type="tns:comprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcomprobante" nillable="true" type="tns:ArrayOfcomprobante" />
  <xs:complexType name="comprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="ape" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codaut" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="codtarea" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="concepto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="conceptos" nillable="true" type="tns:conceptos" />
      <xs:element minOccurs="0" name="cuitemisor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="destinocmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="destinos" nillable="true" type="tns:destinos" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="tns:ArrayOfdetalle" />
      <xs:element minOccurs="0" name="detalleincoterms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="domicilioreceptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_envio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadocmp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechacreacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaemision" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="formaspago" nillable="true" type="tns:ArrayOfformaspago" />
      <xs:element minOccurs="0" name="idimpositivoreceptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idioma" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idioma1" nillable="true" type="tns:idioma" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="importetotal" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="incoterms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="incoterms1" nillable="true" type="tns:incoterms" />
      <xs:element minOccurs="0" name="lote" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lote1" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="moneda1" nillable="true" type="tns:moneda" />
      <xs:element minOccurs="0" name="nom_moneda_ingles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nro" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="nro_doc" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="nrodocreceptor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="observa_envio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="otrosdatoscomerciales" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="otrosdatosgenerales" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permisodestino" nillable="true" type="tns:ArrayOfpermisodestino" />
      <xs:element minOccurs="0" name="ptovta" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="receptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_comprobante" nillable="true" type="tns:tipo_comprobante" />
      <xs:element minOccurs="0" name="tipo_documento" nillable="true" type="tns:tipo_documento" />
      <xs:element minOccurs="0" name="tipocambio" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="tipodocreceptor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vtocodaut" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comprobante" nillable="true" type="tns:comprobante" />
  <xs:complexType name="conceptos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_magma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_concepto" type="xs:int" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
      <xs:element minOccurs="0" name="comprobantes_ml" nillable="true" type="tns:ArrayOfcomprobantes_ml" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="conceptos" nillable="true" type="tns:conceptos" />
  <xs:complexType name="ArrayOfcomprobantes_ml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comprobantes_ml" nillable="true" type="tns:comprobantes_ml" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcomprobantes_ml" nillable="true" type="tns:ArrayOfcomprobantes_ml" />
  <xs:complexType name="destinos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_magma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_destino" type="xs:int" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permisodestino" nillable="true" type="tns:ArrayOfpermisodestino" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="destinos" nillable="true" type="tns:destinos" />
  <xs:complexType name="ArrayOfpermisodestino">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="permisodestino" nillable="true" type="tns:permisodestino" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpermisodestino" nillable="true" type="tns:ArrayOfpermisodestino" />
  <xs:complexType name="permisodestino">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:comprobante" />
      <xs:element minOccurs="0" name="destino" type="xs:int" />
      <xs:element minOccurs="0" name="destinos" nillable="true" type="tns:destinos" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="permisoemb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="permisodestino" nillable="true" type="tns:permisodestino" />
  <xs:complexType name="ArrayOfdetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detalle" nillable="true" type="tns:detalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdetalle" nillable="true" type="tns:ArrayOfdetalle" />
  <xs:complexType name="detalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="cant" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="cod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:comprobante" />
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idItem" type="xs:long" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="importe" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="preciounit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="unidad_medida" nillable="true" type="tns:unidad_medida" />
      <xs:element minOccurs="0" name="unimed" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="detalle" nillable="true" type="tns:detalle" />
  <xs:complexType name="unidad_medida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_magma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_unidad_medida" type="xs:decimal" />
      <xs:element minOccurs="0" name="detalle" nillable="true" type="tns:ArrayOfdetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="unidad_medida" nillable="true" type="tns:unidad_medida" />
  <xs:complexType name="ArrayOfformaspago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="formaspago" nillable="true" type="tns:formaspago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfformaspago" nillable="true" type="tns:ArrayOfformaspago" />
  <xs:complexType name="formaspago">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:decimal" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:comprobante" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="formaspago" nillable="true" type="tns:formaspago" />
  <xs:complexType name="idioma">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_magma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_idioma" type="xs:int" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="idioma" nillable="true" type="tns:idioma" />
  <xs:complexType name="incoterms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_incoterms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="incoterms" nillable="true" type="tns:incoterms" />
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
      <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lote1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lote" nillable="true" type="tns:lote" />
  <xs:complexType name="moneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_magma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
      <xs:element minOccurs="0" name="comprobantes_ml" nillable="true" type="tns:ArrayOfcomprobantes_ml" />
      <xs:element minOccurs="0" name="comprobantes_ml1" nillable="true" type="tns:ArrayOfcomprobantes_ml" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="moneda" nillable="true" type="tns:moneda" />
  <xs:complexType name="tipo_documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo_magma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripción" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_tipo_documento" type="xs:int" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobante" />
      <xs:element minOccurs="0" name="comprobantes_ml" nillable="true" type="tns:ArrayOfcomprobantes_ml" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tipo_documento" nillable="true" type="tns:tipo_documento" />
  <xs:complexType name="ArrayOfdetalle_iva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detalle_iva" nillable="true" type="tns:detalle_iva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdetalle_iva" nillable="true" type="tns:ArrayOfdetalle_iva" />
  <xs:complexType name="detalle_iva">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseImp" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="comprobantes_ml" nillable="true" type="tns:comprobantes_ml" />
      <xs:element minOccurs="0" name="condicion_iva" nillable="true" type="tns:condicion_iva" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="detalle_iva" nillable="true" type="tns:detalle_iva" />
  <xs:complexType name="condicion_iva">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalle_iva" nillable="true" type="tns:ArrayOfdetalle_iva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="condicion_iva" nillable="true" type="tns:condicion_iva" />
  <xs:complexType name="ArrayOfdetalle_tributos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detalle_tributos" nillable="true" type="tns:detalle_tributos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdetalle_tributos" nillable="true" type="tns:ArrayOfdetalle_tributos" />
  <xs:complexType name="detalle_tributos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alic" type="xs:decimal" />
      <xs:element minOccurs="0" name="BaseImp" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="comprobantes_ml" nillable="true" type="tns:comprobantes_ml" />
      <xs:element minOccurs="0" name="idsolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="idtabla" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="detalle_tributos" nillable="true" type="tns:detalle_tributos" />
  <xs:complexType name="ResultadoSolicitarCAE">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ResultadoSolicitarCAE" nillable="true" type="tns:ResultadoSolicitarCAE" />
</xs:schema>