SGLibrary_COM/SGLibrary_WSTest/Service References/WSTezecoop/WSObligaciones2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCfServiceTezecoop" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCfServiceTezecoop" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGLibrary.Services" />
  <xs:complexType name="WSObligacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:WSError" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGLibrary.Services" minOccurs="0" name="Obligacion" nillable="true" type="q1:Obligaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSObligacion" nillable="true" type="tns:WSObligacion" />
  <xs:complexType name="WSError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensajeExtendido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroError" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSError" nillable="true" type="tns:WSError" />
</xs:schema>