SGLibrary_COM/SGLibrary_WSTest/Service References/WSTezecoop/WSObligaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSObligaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCfServiceTezecoop" />
      <xsd:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGLibrary.Services" />
      <xsd:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SGLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSObligaciones_obtenerObligacionxId_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerObligacionxId" />
  </wsdl:message>
  <wsdl:message name="IWSObligaciones_obtenerObligacionxId_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerObligacionxIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWSObligaciones_Saludar_InputMessage">
    <wsdl:part name="parameters" element="tns:Saludar" />
  </wsdl:message>
  <wsdl:message name="IWSObligaciones_Saludar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludarResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSObligaciones">
    <wsdl:operation name="obtenerObligacionxId">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSObligaciones/obtenerObligacionxId" message="tns:IWSObligaciones_obtenerObligacionxId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSObligaciones/obtenerObligacionxIdResponse" message="tns:IWSObligaciones_obtenerObligacionxId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Saludar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSObligaciones/Saludar" message="tns:IWSObligaciones_Saludar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSObligaciones/SaludarResponse" message="tns:IWSObligaciones_Saludar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSObligaciones" type="tns:IWSObligaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerObligacionxId">
      <soap:operation soapAction="http://tempuri.org/IWSObligaciones/obtenerObligacionxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Saludar">
      <soap:operation soapAction="http://tempuri.org/IWSObligaciones/Saludar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSObligaciones">
    <wsdl:port name="BasicHttpBinding_IWSObligaciones" binding="tns:BasicHttpBinding_IWSObligaciones">
      <soap:address location="http://localhost:49352/WSObligaciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>