SGLibrary_COM/SGLibrary_WSTest/Service References/WSTezecoop/WSObligaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGLibrary.Services" />
  <xs:element name="obtenerObligacionxId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerObligacionxIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGLibrary.Services" minOccurs="0" name="obtenerObligacionxIdResult" nillable="true" type="q1:Obligaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Saludar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaludarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaludarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>