SGLibrary_COM/SGLibrary_WSTest/Service References/WSTezecoop/WSObligaciones3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGLibrary.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGLibrary.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49352/WSObligaciones.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SGLibrary" />
  <xs:complexType name="Obligaciones">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGLibrary" minOccurs="0" name="TB_ObligacionesCuotas" nillable="true" type="q1:ArrayOfTB_ObligacionesCuotas" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGLibrary" minOccurs="0" name="TB_ObligacionesTitulares" nillable="true" type="q2:ArrayOfTB_ObligacionesTitulares" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGLibrary" minOccurs="0" name="TB_transCab" nillable="true" type="q3:TB_transCab" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Obligaciones" nillable="true" type="tns:Obligaciones" />
</xs:schema>